<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>PiBrew</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
		<script type="text/javascript" src={{ url_for('static', filename="js/bootstrap-select-1.9.4/bootstrap-select.min.js")}}></script>
		<script type="text/javascript" src={{ url_for('static', filename="js/gauge.js")}}></script>
		<script type="text/javascript" src={{ url_for('static', filename="js/dropdown.js")}}></script>
		<script type="text/javascript" src={{ url_for('static', filename="js/scripts.js")}}></script>
		<script type="text/javascript" src={{ url_for('static', filename="js/bootstrap-table.js")}}></script>
		{% block scripts %}
		{% endblock %}

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href={{ url_for('static', filename="css/style.css")}}>
		<link rel="stylesheet" href={{ url_for('static', filename="css/bootstrap-table.css")}}>
		<link rel="stylesheet" href={{ url_for('static', filename="css/bootstrap-select-1.9.4/bootstrap-select.min.css")}}>
	</head>
	<body>
	<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="/">PiBrew</a>
		</div>
		<ul id='navbarlist' class="nav navbar-nav">
			<li id='status_menu'><a href={{ url_for('index') }}>Home</a></li>
		  <li id='recipes_menu'><a href={{ url_for('recipes') }}>Recipes</a></li>
		  <li id='settings_menu'><a href={{ url_for('settings') }}>Settings</a></li> 
		</ul>
	  </div>
	</nav>
	{% block content %}
	{% endblock %}
		
	</body>
</html>
