{% extends "base.html" %}
{% block scripts %}
	<script src="static/js/index.js"></script>
{% endblock %}
{% block content %}
	<div id="status_page">
		<div class="row">
				<canvas id="tempGauge" width="300" height="300"></canvas>
				<canvas id="powerGauge" width="300" height="300"></canvas>
		</div>
		<div class="row">
			<button id='brew_button' type="button" class="btn btn-default">Brew recipe</button>
		</div>
		<div class="row">
			<button id='continue_button' type="button" class="btn btn-primary" disabled>Continue</button>
		</div>
	</div>
{% endblock %}

