{% extends "base.html" %}
{% block scripts %}
	<script src="static/js/recipes.js"></script>
	<script src="static/js/new_recipe.js"></script>
{% endblock %}
{% block content %}
<form action="new" method="POST" accept-charset="utf-8">
	<fieldset >
		<div class="form-group">
			<label class="col-sm-1 control-label" for="textinput">Recipe name</label>
			<div class="col-sm-3">
				<input name="recipe_name" type="text" placeholder="Name of the recipe" class="form-control input-md">
			</div>
		</div>
	</fieldset>
	<fieldset id='steps_fieldset'>
		<legend>Steps</legend>
	<div class='row'>
		<button type='button' id="add_step_button" class="btn btn-primary">Add step</button>
	</div>

    <div id='step1_raw' class="row">
		<div class="col-md-1">
			<p id="step_number">Step 1</p>
		</div>
        <div class="col-md-2">
            <div class="form-group">
				<label class="control-label" for="date_deb">Step name</label>
				<input name="step_name" type="text" placeholder="Name of the step" class="form-control input-md">
          </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
				<label class="control-label" for="date_deb">Time</label>
				<div class="input-group">
					<input name="step_time" type="text" placeholder="Time" class="form-control input-md">
					<span class="input-group-addon">min</span>
				</div>
          </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
				<label class="control-label" for="date_deb">Temperature</label>
				<div class="input-group">
					<input name="step_temp" type="text" placeholder="Temp" class="form-control input-md">
					<span class="input-group-addon">°C</span>
				</div>
          </div>
        </div>
    </div>


	</fieldset>
	<div id="save_button_div" class="form-group row">
		<button type="submit" class="btn btn-success">Save</button>
		<a href={{ url_for('recipes') }}><button type="button" class="btn btn-warning">Cancel</button></a>
	</div>
</form>

{% endblock %}

