<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap-select-1.9.4/bootstrap-select.min.js"></script>

	<script type="text/javascript" src="static/js/gauge.js"></script>
	<script type="text/javascript" src="static/js/dropdown.js"></script>
    <script src="static/js/scripts.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href={{ url_for('static', filename="css/style.css")}}>
    <link rel="stylesheet" href={{ url_for('static', filename="css/bootstrap-select-1.9.4/bootstrap-select.min.css")}}>
</head>
<body>
	<h2 id="recipe_details"> {{ recipe.name }} recipe:</h2>


</body>
</html>
